<div class="nav-bar clearfix">
  <div class="third">
    <div class="home relative-center-y">
      <img class="icon" src="img/icon-home.png"/>
      <a class="title dark-gray-link">Home</a>
    </div>
  </div>

  <div class="third">
    <img class="relative-center-xy" src="img/telegram-logo-small.png"/>
  </div>

  <div class="third">
    <div class="user relative-center-y">
      <a class="avatar link"><img src="img/avatar-turquoise.png"/></a>
      <a class="name dark-gray-link">Cristian Strat</a>
      <a class="logout dark-gray-link">Log out</a>
    </div>
  </div>
</div>

<div class="dashboard">
  <div class="create-post">
    <textarea placeholder="What's happening?" autofocus="autofocus"></textarea>
    <div class="footer clearfix">
      <div class="characters-left">140 characters</div>
      <div class="publish dark-gray-btn">Publish</div>
    </div>
  </div>

  <div class="title">Latest posts</div>

  <div class="posts-list">
    <div class="post-block clearfix">
      <a class="avatar link"><img src="img/avatar-red.png"/></a>

      <div class="content">
        <div class="author">John Maeda</div>
        <div class="text">Great teams constantly learn and re-learn how to move from the ego of *I* to the ego of *WE*.</div>
        <div class="footer">
          <span class="timestamp">2 minutes ago</span>
          <span class="middot">&middot;</span>
          <a class="blue-link">Repost</a>
          <span class="middot">&middot;</span>
          <a class="blue-link">Delete</a>
        </div>
      </div>
    </div>

    <div class="post-block clearfix confirm-repost">
      <img class="avatar" src="img/icon-retweet.png"/>

      <div class="content">
        <div class="question">Repost this to your followers?</div>
        <div class="footer">
          <a class="blue-link">Yes</a>
          <span class="middot">&middot;</span>
          <a class="blue-link">No</a>
        </div>
      </div>
    </div>

    <div class="post-block clearfix">
      <div class="repost-header clearfix">
        <img class="icon" src="img/icon-retweet.png"/>
        <div class="author">Reposted by <a class="dark-gray-link">Cristian Strat</a></div>
      </div>

      <a class="avatar link"><img src="img/avatar-yellow.png"/></a>

      <div class="content">
        <div class="author"><a class="link">Clarke Wolfe<a></div>
        <div class="text">Listen, I don't want to brag about my awesome #gaming skills but someone made it into an @IGN article today ...</div>
        <div class="footer">
          <span>4 minutes ago</span>
          <span class="middot">&middot;</span>
          <span>Reposted</span>
          <span class="middot">&middot;</span>
          <a class="blue-link">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
