<div class="auth">
  <div class="rect clearfix">
    <div class="left">
      <img class="logo" src="/img/telegram-logo.png"/>
    </div>
    <div class="right">
      <img class="postmark" src="/img/postmark.png"/>
      <div class="clear"></div>
      <div class="content">
        <div class="title">
          Get going ...
        </div>
        <form class="auth-form">
          <input class="auth-input" type="text" name="username" placeholder="Enter your username">
          <input class="auth-input" type="password" name="password" placeholder="Enter your password">
          <div class="form-footer clearfix">
            <input type="submit" class="btn submit" value="Log in">
            <div class="alternatives">
              <a class="blue-link">Recover password</a>
              or
              <a class="blue-link">Sign up</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
