<div class="nav-bar clearfix">
  <div class="third">
    <div class="home relative-center-y">
      <img class="icon" src="img/icon-home.png"/>
      <a class="title dark-gray-link">Home</a>
    </div>
  </div>

  <div class="third">
    <img class="relative-center-xy" src="img/telegram-logo-small.png"/>
  </div>

  <div class="third">
    <div class="user relative-center-y">
      <a class="avatar link"><img src="img/avatar-turquoise.png"/></a>
      <a class="name dark-gray-link">Cristian Strat</a>
      <a class="logout dark-gray-link">Log out</a>
    </div>
  </div>
</div>

<div class="profile">
  <div class="user-header">
    <img class="avatar" src="img/avatar-turquoise.png"/>
    <div class="name">Cristian Strat</div>
    <div class="username">@cristianstrat</div>
    <button class="blue-btn follow">Follow</button>
  </div>

  <div class="tab-header">
    <a class="tab">Posts</a>
    <a class="tab active">Following</a>
    <a class="tab">Followers</a>
  </div>

  <div class="users-list">
    <div class="user-block clearfix">
      <a class="avatar link">
        <img src="img/avatar-red.png"/>
      </a>
      <div class="name">
        <a class="link">John Maeda</a>
      </div>
      <button class="blue-btn follow relative-center-y">
        Follow
      </button>
    </div>

    <div class="user-block clearfix">
      <a class="avatar link">
        <img src="img/avatar-yellow.png"/>
      </a>
      <div class="name">
        <a class="link">Clarke Wolfe</a>
      </div>
      <button class="blue-btn follow relative-center-y">
        Unfollow
      </button>
    </div>

    <div class="user-block clearfix">
      <a class="avatar link">
        <img src="img/avatar-green.png"/>
      </a>
      <div class="name">
        <a class="link">Fast Company</a>
      </div>
      <button class="blue-btn follow relative-center-y">
        Follow
      </button>
    </div>
  </div>
</div>
